<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
=======
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
>>>>>>> 180a3d7ba76fe79762d71d42606d091c85338202
}